body {
    background-color: #fbf1f1;
  }
  
  .hide {
    display: none;
  }
  
  .numeros {
    font-family: "Codec cold", sans-serif;
    font-size: 66px;
    font-weight: 700;
    color: #551b98;
  }
  
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  /* Button Style */
  
  /* CSS */
  .button-75 {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /* display: flex;
    flex-direction: column; */
    font-family: "Codec cold", sans-serif;
    font-size: 56px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    letter-spacing: 0.4px;
    line-height: 1;
    /* max-width: 100%; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 1rem;
  }
  
  .button-75:active {
    outline: 0;
  }
  
  .button-75:hover {
    outline: 0;
  }
  
  .button-75 span {
    transition: all 200ms;
  }
  
  .button-75:hover span {
    transform: scale(0.9);
    opacity: 0.75;
  }
  
  @media screen and (max-width: 991px) {
    .button-75 {
      font-size: 15px;
      height: 50px;
    }
  
    .button-75 span {
      line-height: 50px;
    }
  }
  